<!-- account-activated.hbs -->
<p>Bonjour <strong>{{firstName}}</strong>,</p>

<div class="success-box">
  <strong>Votre compte a été activé !</strong>
</div>

<p>Votre compte a été validé par un administrateur. Vous pouvez maintenant vous connecter à la plateforme.</p>

<p style="margin-top: 30px; text-align: center;">
  <a href="{{loginUrl}}" class="button">Se connecter</a>
</p>

<p>Bienvenue sur la plateforme !</p>
